/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #e9f3d8;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #e9f3d8;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #b2d676;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #d3e8b1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #91c43b; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #b2d676;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #b2d676; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #b2d676; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal section img.plain {
  background: rgba(255, 255, 255, 0); }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #b2d676;
  background: -moz-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b2d676), color-stop(100%, #004262));
  background: -webkit-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -o-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -ms-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: linear-gradient(left, #b2d676 0%, #004262 100%);
  height: 45px;
  z-index: 9; }
  .fixed-header .face {
    transition: all .5s;
    position: absolute;
    left: 15px;
    top: 10px; }
    .fixed-header .face img {
      transition: all .5s;
      border: 5px solid #fff;
      border-radius: 9999px;
      width: 60px; }
  .fixed-header h1.presentation-title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 50px; }

.btn {
  background: #b2d676;
  background: -moz-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b2d676), color-stop(100%, #004262));
  background: -webkit-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -o-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: -ms-linear-gradient(left, #b2d676 0%, #004262 100%);
  background: linear-gradient(left, #b2d676 0%, #004262 100%);
  padding: 7px 30px !important;
  font-size: 60% !important;
  color: #fff !important;
  display: inline-block; }
  .btn:hover {
    background: #004262;
    background: -moz-linear-gradient(left, #004262 0%, #004262 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #004262), color-stop(100%, #004262));
    background: -webkit-linear-gradient(left, #004262 0%, #004262 100%);
    background: -o-linear-gradient(left, #004262 0%, #004262 100%);
    background: -ms-linear-gradient(left, #004262 0%, #004262 100%);
    background: linear-gradient(left, #004262 0%, #004262 100%); }

.example * {
  font-size: 16px !important; }

.example label {
  display: block; }

.reveal {
  font-size: 38px; }
  .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    color: #b2d676; }
  .reveal ul li {
    font-size: 0.85em;
    margin-bottom: 0.2em; }
  .reveal ul.simple {
    list-style: none;
    padding-left: 0; }
  .reveal pre {
    width: 100%; }
  .reveal p {
    text-align: left; }
  .reveal blockquote.center,
  .reveal span.center,
  .reveal p.center {
    text-align: center; }
  .reveal blockquote.sm, .reveal blockquote.small,
  .reveal span.sm,
  .reveal span.small,
  .reveal p.sm,
  .reveal p.small {
    font-size: 0.6em; }
  .reveal blockquote.md,
  .reveal span.md,
  .reveal p.md {
    font-size: 0.8em; }
  .reveal blockquote {
    margin-top: 45px;
    max-width: 70%;
    padding: 30px 50px;
    position: relative; }
    .reveal blockquote .face {
      position: absolute;
      top: -35px;
      left: -35px;
      font-size: 18px; }
      .reveal blockquote .face img {
        transition: all .5s;
        border: 5px solid #b2d676;
        border-radius: 9999px;
        width: 60px;
        margin: 0;
        display: inline-block; }
      .reveal blockquote .face span {
        position: absolute;
        line-height: 1.1em;
        display: block;
        left: 80px;
        top: 25px;
        text-align: left;
        width: auto;
        min-width: 200px;
        color: #b2d676; }
  .reveal .person {
    margin-bottom: 2em; }
    .reveal .person .name * {
      vertical-align: middle; }
    .reveal .person .name img.face {
      transition: all .5s;
      border: 5px solid #b2d676;
      border-radius: 9999px;
      width: 100px;
      margin: 0 auto 30px auto;
      display: inline-block; }
    .reveal .person .name strong {
      margin-top: -10px;
      line-height: 1em;
      display: inline-block; }
  .reveal .scroll {
    height: 80vh;
    overflow-y: auto;
    border: 2px solid #b2d676; }
    .reveal .scroll img {
      max-width: 100%;
      max-height: 99999px;
      margin: 0; }
  .reveal section.me {
    top: 220px !important; }
    .reveal section.me .company {
      vertical-align: baseline; }
      .reveal section.me .company img {
        display: inline;
        margin: 0;
        width: 120px;
        transform: translateY(7px); }
      .reveal section.me .company a {
        color: #fff;
        font-size: 0.3em; }
  .reveal .no-margin {
    margin: 0; }

.slide-me .fixed-header .face {
  left: 50%;
  margin-left: -100px;
  top: 80px; }
  .slide-me .fixed-header .face img {
    width: 200px; }
