<section>
  <h1>Componentes</h1>
  <img class="plain" src="lib/i/components.png" alt="Vue" />
</section>

<section>
  <p>
    Son una de las piezas más importantes
  </p>
  <p>
    Los componentes permiten extender los elementos HTML básicos y encapsular código reusable.
  </p>
  
  <p>
    A grandes rasgos los componentes son elementos personalizados a los que el compilador de Vue le da funcionalidad.
  </p>
</section>

<section>
  <h4>
    Disclaimer
  </h4>
  <p>
    Aunque los componente tambien se pueden crear y manipular usando <em>"Vanilla" JS</em> por simplicidad voy a poner los ejemplos de componentes creados en un entorno <em>Webpack</em>
  </p>
  <pre><code>Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})
  </code></pre>
  <p class="small center">Ejemplo extraido de la web de Vue.js</p>
</section>

<section>
  <p>
    En un entorno <em>"Webpack"</em> cada componente se almacena en un archivo con extensión <strong>.vue</strong>  <a href="https://codesandbox.io/s/mnkq7zr3j" class="btn">Demo</a>
  </p>
  <pre><code><template>
  <div>
    <button v-on:click="count++">You clicked me {{ count }} times.</button>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        count: 0
      }
    },
  }
</script>
<style scoped>
  button {
    font-size: 80px
  }
</style></code></pre>
  <p class="small center">Mismo ejemplo que el anterior, escrito en <em>single file component</em></p>
</section>


<section>
  <p>
    Tenemos 3 partes diferenciadas:
  </p>
  <ul>
    <li>
      <em>&lt;template&gt;</em> Donde escribimos el HTML del componente
    </li>
    <li>
      <em>&lt;style&gt;</em> Donde podemos añadir estilos al componente (ya sean <em>Scoped</em> o no)
    </li>
    <li>
      En ambos casos podemos usar un "loader" para usar: Pug, SASS, LESS, Stylus, etc...
    </li>
  </ul>
</section>

<section>
  <p>
    <strong><em>scoped</em></strong>: si en la etiqueta <em>style</em> indicamos scoped, los estilos definidos solo se aplican al componente.
  </p>
  <p>Curiosamente <em>scoped</em> es un attributo en estado borrador W3C que ya esta obsoleto <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLStyleElement/scoped">https://developer.mozilla.org/en-US/docs/Web/API/HTMLStyleElement/scoped</a></p>
</section>

<section>
  <h4>
    Y la parte más interesante: <em>&lt;script&gt;</em>
  </h4>
  <p>
    Aquí escribimos tanto la lógica del componente, como su configuración
  </p>
  <p>
    Vamos a verlo en detalle....
  </p>
</section>

<section>
  <h4>
    Propiedades <em>Props</em>
  </h4>
  <p>
    Las propiedades son atributos personalizados que podemos registrar en un componente.
  </p>
  <pre><code><button-counter start="10" :color="color !== undefined ? color : '#f00'"></button-counter></code></pre>

  <pre><code>props: ['start', 'color']</code></pre>
  <p>
    Los valores fluyen del elemento / componente padre al hijo (<em>One-Data Flow</em>)
  </p>
</section>

<section>
  <h4>
    Propiedades <em>Props</em>
  </h4>
  <p>
    Podemos pasar cualquier tipo de valor: Number, Boolean, String, Array, Object
  </p>
  <p>
    Las <em>props</em> pueden ser validadas para que cumplan requitos de: <strong>tipo</strong> de contenido, si son <strong>requeridas</strong> e incluso establecer un <strong>valor por defecto</strong>
  </p>
</section>

<section>
  <h4>
    Propiedades <em>Props</em>
  </h4>
  <pre><code>props: {
  start: Number,
  color: [String, Number]
}</code></pre>
  <pre><code>props: {
  start: {
    type: Number,
    default: 0
  },
  color: {
    type: String,
    required: true,
    validator: function (value) {
      return value[0] == '#' && (value.length == 4 || value.length == 7)
    }
  }
}</code></pre>
</section>

<section>
  <h4>
    Valores reactivos <em>data</em>
  </h4>
  <p>
    <em>data</em> debe ser una función que devuelva un objecto con los valores reactivos del componente
  </p>
  <pre><code>data: function () {
  return {
    count: 0
  }
}</code></pre>
  <p class="md">Sin entrar en detalle, debemos tener cuidado con como definimos esta estructura ya que por limitaciones de JS por ejemplo no se puede observar una propiedad definida a posteriori o un</p>
  <pre><code>matriz[1] = 'nuevovalor'</code></pre>
</section>

<section>
  <h4>
    Valores reactivos calculados <em>computed</em>
  </h4>
  <p>
    En ocasiones necesitamos que un valor sea reactivo pero que sea calculado o trasformado a partir de otros valores.
  </p>
  <pre><code>computed: {
  sum () {
    return this.valueA + this.valueB
  }
}</code></pre>
  <p>y ya lo podemos usar directamente en el template</p>
  <pre><code>La suma de {{ valueA }} + {{ valueB }} es: {{ sum }}</code></pre>
  <p class="md">Cuando uno de los valores (valueA o valueB) cambie, el valor de sum tambien cambiará</p>
</section>

<section>
  <h4>
    Valores reactivos calculados <em>computed</em>
  </h4>
  <p>
    Los valores calculados tambien pueden tener <em>setters</em>
  </p>
  <pre><code>computed: {
  sum: {
    get () {
      return this.valueA + this.valueB
    },
    set (newValue) {
     this.valueA = this.valueB = newValue / 2
    }
  }
}</code></pre>
</section>

<section>
  <h4>
    Observadores <em>watchers</em>
  </h4>
  <p>
    En ocasiones necesitamos reaccionar el cambio de un valor para ello tenemos los <em>watchers</em>
  </p>
  <pre><code>watch: {
  variableA (newValue, oldValue) {
    if(newValue < oldValue) {
      alert('El valor solo puede crecer, nunca decrecer')
    }
  }
}</code></pre>
</section>

<section>
  <h4>
    Como funciona la reactividad
  </h4>
  <img class="plain" src="lib/i/data.png" width="80%"/>
</section>

<section>
  <h4>
    Métodos del componente <em>methods</em>
  </h4>
  <p>
    La mejor forma de organizar las funciones o métodos de un componente es bajo <em>methods</em>
  </p>
  <pre><code>methods: {
  doSomething () {
    // Hacer cosas de hacer....
  }
}</code></pre>
  <p>
    Además nos permite llamar al método desde la plantilla sin necesidad de usar el this.metodo
  </p>
  <pre><code><a href="#" @click.prevent="doSomething"></a></code></pre>
</section>


<section>
  <h4>
    Eventos personalizados
  </h4>
  <img class="plain" src="lib/i/props-events.png" alt="Prop events" width="500"/>
</section>

<section>
  <h4>
    Eventos personalizados
  </h4>
  <p>
    Los componentes pueden emitir eventos que pueden ser recogidos por el elemento padre.
  </p>
  <pre><code>this.$emit('miEvento', valor)</code></pre>
  <p class="sm">En el elemento padre:</p>
  <pre><code><mi-componente @miEvento="doSomething"></mi-componente></code></pre>
</section>




<section>
  <h4>
    Eventos personalizados <em>.sync</em>
  </h4>
  <p>
    Los eventos sirven tambien para hacer <em>Two-way binding</em>
  </p>
  <pre><code>this.$emit('update:nombre', valor)</code></pre>
  <p class="sm">En el elemento padre:</p>
  <pre><code><mi-componente :nombre.sync="persona.nombre"></mi-componente></code></pre>
  <p class="sm">
    Este cuando se emite el evento <em>update:[nombre de la propiedad]</em> la variable del elemento padre recibe el valor actualizado.
  </p>
</section>

<section>
  <h4>
    <em>slots</em>
  </h4>
  <p>
    Los slots son parte de la propuesta del w3c para webcomponents <span class="small">https://github.com/w3c/webcomponents/blob/gh-pages/proposals/Slots-Proposal.md</span>
  </p>
  <p>
    Sirven para distribuir el contenido en el componente
  </p>
  <pre><code><mi-componente>Texto <a href="#">prueba</a></mi-componente></code></pre>
  <p class="sm">
    En el componente
  </p>
  <pre><code><template>
  <h1>
    <slot></slot>
  </h1>
</template></code></pre>
  <p class="sm">
    La etiqueta <em>slot</em> es reemplazada por el contenido entre las etiquetas del componente
  </p>
</section>

<section>
  <h4>
    Multiples <em>slots</em>
  </h4>
  <p>
    Podemos dar nombre a los <em>slots</em> y usar varios en cada componente
  </p>
  <pre><code><mi-componente><header>Texto <a href="#">prueba</a></header><main>Contenido principal</main></mi-componente></code></pre>
  <p class="md">
    En el componente
  </p>
  <pre><code><template>
  <div>
    <h1>
      <slot name="header"></slot>
    </h1>
    <slot name="main"></slot>
  </div>
</template></code></pre>
</section>

<section>
  <h4>
    Acceso a elementos por nombre <em>refs</em>
  </h4>
  <p>
    Al usar VirtualDOM, en teoria no podemos usar selectores "normales"
  </p>
  <p>
    Pero podemos nombrar los elementos usando el atributo <em>ref</em>
  </p>
  <pre><code><mi-componente ref="componente"></mi-componente></code></pre>
  <p class="md">
    En la programación
  </p>
  <pre><code>this.$refs.componente.metodoDelComponente()</code></pre>
</section>

<section>
  <h4>
    Componentes dinámicos
  </h4>
  <p>
    Usando el componente interno <em>component</em> podemos instanciar dinamicamente componentes
  </p>
  <pre><code><component :is="variableComponente"></component></code></pre>
  <p class="md">
    La variable almacena el nombre del componente y si esta cambia, el componente mostrado cambia
  </p>
</section>

<section>
  <div class="scroll">
    <img class="plain" src="lib/i/lifecycle.png" alt="Life cycle" />
  </div>
</section>
