<section>
  <h1>
    Proyectos
  </h1>
  <img class="plain" src="https://media.giphy.com/media/6xTwB20UKJLAk/giphy.gif" width="180"/>
</section>

<section>
  <p>
    Al igual que Angular y React hay muchos proyectos relacionados con Vue.js, más allá de componentes (que tambien).
  </p>

  <p class="md">
    Aqui van unos cuantos
  </p>

  <p><a href="https://nuxtjs.org/">Nuxt.js</a>, <a href="https://vuepress.vuejs.org/">Vuepress</a>, <a href="https://vuetifyjs.com/en/">Vuetify</a>, <a href="https://weex.incubator.apache.org/">Weex</a>, <a href="https://quasar-framework.org/">Quasar</a>, <a href="https://electronjs.org/">ElectronJS</a>
  </ul>

</section>

<section>
  <h4>
    Un caso "Distinto"
  </h4>

  <p>
    Este es un caso de WebApp realizada en Vue.js que se sale de los casos de uso habituales.
  </p>

  <p>
    AGL o <a href="https://www.automotivelinux.org/">Automotive Grade Linux</a> es un proyecto dentro de la Linux Fundation para unir a los fabricantes, proveedores y empresas tecnológicas del mundo del automóvil en torno a un proyecto <em>open source</em>
  </p>
</section>


<section>
  <p>
    La compañia gallega <a href="http://www.igalia.com">Igalia</a> esta involucrada en este mundo y necesiban mostar su trabajo sobre wayland y chromium relativo al mundo del automóvil.
  </p>

  <p>
    Querian mostrar como rendiría una interface para un vehiculo sobre un Chromium 66, sobre a
    plataforma AGL (AGL demo platform [1]) en una placa Renesas R-car m3.
  </p>

  <p>Aqui el resultado....</p>

  <a href="https://bitbucket.org/opsou/igalia-agl-demo/">https://bitbucket.org/opsou/igalia-agl-demo/</a>

</section>

