<section>
  <h1>Ecosistema</h1>

  <img class="plain" src="https://media.giphy.com/media/FsTRLi4SnM86Y/giphy.gif" width="400"/>

</section>

<section>
  <h4>
    "Progresando" en Vue
  </h4>
  <p>
    Como dijimos Vue es progresivo, por lo que podemos ir añadiendo módulos (según las necesidades) para hacerlo crecer y adaptarse a nuestras necesidades.
  </p>
</section>

<section>
  <h4>
    Librerias "oficiales"
  </h4>
  <p class="center">
    Oficialmente solo hay 3 librerías de "core"
  </p>
  <ul>
    <li>
      vue-router <span class="sm"><a href="https://router.vuejs.org/en/">https://router.vuejs.org/en/</a></span>
    </li>
    <li>
      vuex <span class="sm"><a href="https://vuex.vuejs.org/en/">https://vuex.vuejs.org/en/</a></span>
    </li>
    <li>
      ssr (Server-side Rendering) <span class="sm"><a href="https://ssr.vuejs.org/en/">https://ssr.vuejs.org/en/</a></span>
    </li>
  </ul>
</section>

<section>
  <h4>
    ¿Sólo 3 librerías?
  </h4>
  <img src="https://media.giphy.com/media/QjrrSbYaqgi1q/giphy.gif" />
</section>

<section>
  <h4>
    Para todo lo demás: Comunidad
  </h4>

  <p>
    Por ejemplo, existió una librería de core para manejar peticiones ajax. Fue retirada en 2016/2017
  </p>


  <blockquote class="md">
    <div class="face">
      <img src="https://cdn-images-1.medium.com/fit/c/60/60/0*k6Vzz_7jU2jXNEXT.jpeg" width="80" />
      <span>Evan You</span>
    </div>
    There are great 3rd party ajax libraries that solve the same problem, are more actively improved/maintained, and designed to be universal/isomorphic
  </blockquote>

  <p class="md">
    <a href="https://medium.com/the-vue-point/retiring-vue-resource-871a82880af4">https://medium.com/the-vue-point/retiring-vue-resource-871a82880af4</a>
  </p>
</section>

<section>
  <h4>
    vue-router
  </h4>

  <p>
    Poco que contar, una librería de routing...
  </p>

  <p>
    Hacer notar que cada ruta es un componente
  </p>

  <p>
    <em>Vue</em> soporta otras liberias como <a href="https://github.com/visionmedia/page.js">Page.js<a/> o <a href="https://github.com/flatiron/director">Director</a>
  </p>
</section>

<section>
  <h4>
    Manejo de estado: <em>vuex</em>
  </h4>

  <p>
    <em>vuex</em> es una libería de manejo de estado inspirada en la arquitetura <strong>Flux</strong>
  </p>

  <p>
    A diferencia de <em>Redux</em> (que es agnostica), <em>vuex</em> sabe que esta dentro de una app Vue y se integra mejor con ella.
  </p>
</section>
<section>
  <h4>
    Manejo de estado: <em>vuex</em>
  </h4>
  <img class="plain" src="lib/i/vuex.png" alt="vuex" width="60%" />
</section>

<section>
  <h4>
    Server-side rendering: <em>ssr</em>
  </h4>

  <p>
    Podemos crear apps Vue donde no tengamos DOM, apps que se ejecutan en servidor y devuelven HTML plano, en lugar de renderizarse en el cliente (navegador)
  </p>

  <h5>
    Ventajas
  </h5>
  <ul>
    <li>
      Mejor SEO, devolvemos HTML. <span class="md">(Nota: Google puede indexar aplicaciones JS <strong>Síncronas</strong>)
    </li>
    <li>
      Mejor tiempo de respuesta (la página se devuelve completa)<sup>*</sup>
    </li>
  </ul>
</section>

<section>
  <h4>
    Server-side rendering: <em>ssr</em>
  </h4>

  <p>
    Desde la versión 2.5, Vue SSR deja de asumir que el entorno de ejecución es <em>node.js</em>, lo que permite ser usable en un entorno agnostico:
  </p>
  <ul>
    <li>
      <a href="https://github.com/phpv8/v8js">php-v8js</a> <span class="sm">(<a href="https://gist.github.com/yyx990803/9bdff05e5468a60ced06c29c39114c6b#environment-agnostic-ssr">Usando Vue SSR directamente en tu proceso PHP</a>)</span>
    </li>
    <li>
      Nashorn
    </li>
  </ul>

  <p>
    Un paso más en el SSR es <a href="https://nuxtjs.org/">nuxt.js</a>
  </p>

  <img class="plain" src="lib/i/nuxt.png" alt="Nuxt" widtH="200px"/>

</section>

<section>
  <h4>
    Vue-devtools
  </h4>
  <p class="center sm">
    https://github.com/vuejs/vue-devtools
  </p>
  <p>Extensión para Chrome y Firefox (y para apps electron)</p>
  <img class="plain" src="lib/i/vue-devtools.png" alt="vuex" width="40%" />
</section>

<section>
  <h4>
    Vue-cli
  </h4>
  <p>
    Herramienta de consola para crear y gestionar apps <em>Vue</em>
  </p>
  <p>Se basa en plantillas que configuran el entorno de desarrollo</p>
  <p class="sm">
    Webpack, Babel, CSS loaders, ESLint, Typescript, testing,
  </p>
  <p>
    Podemos iniciar cualquier tipo de entorno en segundos: Web, Vuex, SPA, APP Electron, Nuxt, etc
  </p>
</section>