<section>
  <h1>Introducción</h1>

  <img class="plain" src="https://media.giphy.com/media/1TzKVQwH820wM/giphy.gif" width="400" />
</section>

<section>
  <p class="center">Para empezar no es necesario nada, ni <em>Babel</em>, ni <em>Webpack</em>. Solo la librería.
  <pre><code><div id="app">
  <input type="text" placeholder="Escribe tu nombre" v-model="name" />
  <span>Has escrito {{ name }}</span>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.0/vue.js"></script>
<script>
  vm = new Vue({
    el: '#app',
    data () {
      return {
        name: '',
      }
    },
  });
</script>
  </code></pre>
  <a href="https://codesandbox.io/s/21xwrmwlqn" class="btn">
    Demo
  </a>
</section>

<section>
  <h3>Mostrando datos: <em>Render declarativo</em></h3>
  <p class="center">Interpolación de texto:</p>
  <pre><code>{{ variable }}
<!-- Variable con html -->
<span v-html="variable"></span>
</code></pre>

  <p class="center">Si variable = 'Hola'</p>
  <pre><code>Hola</code></pre>
</section>

<section>
  <h3>Data binding</h3>
  <h4>One way binding</h4>
  <p class="center">
    Propiedades: Los cambios fluyen de elemento padre a hijo (no al revés)
  </p>
  <pre><code><span v-bind:title="variable | expresión"></span>
  <!-- En la forma acortada (Shorthand) -->
<span :title="variable | expresión"></span></code></pre>
  <h4>
    Two-way data binding
  </h4>
  <p class="center">
    Los cambios fluyen en ambos sentidos
  </p>
  <pre><code><input v-model="text"></code></pre>
  <p class="small center">Equivale a una propiedad (value) y un evento (input) (lo veremos más adelante)</p>
</section>


<section>
  <h4>Condicionales y loops</h4>
  <p class="center">Monta o desmonta el elemento / componente</p>
  <pre><code><span v-if="variable">Contenido</span></code></pre>
  <p class="center">Muestra u oculta el elemento / componente</p>
  <pre><code><span v-show="variable">Contenido</span></code></pre>
  <p class="center">Repite el element o componente hidratandolo con el valor item en cada loop</p>
  <pre><code><span v-for="item in variable">{{item}}</span></code></pre>
</section>

<section>
  <h4>Manejo de Eventos</h4>
  <pre><code><button v-on:click="accion">Enviar</button>
<!-- Shorthand -->
<button @click="click">Enviar</button></code></pre>
  <h5>Modificadores de eventos</h5>
  <pre><code>.stop | .prevent | .capture | .self | .once | .passive</pre></code>
  <pre><code><button v-on:click.prevent="click">Enviar</button></code></pre>

  <p class="center">
    Podemos crear eventos personalizados
  <pre><code><button v-on:click="$emit('removeItem')"></button>
<span v-on:removeItem="[acción a ejecutar]"></span>
</code></pre>
  </p>
  <div>
    <a href="https://codesandbox.io/s/3v30jnlr1" class="btn">
      Demo
    </a>
  </div>
</section>

<section>
  <h4>Binding de clases y estilos (CSS) </h4>
  <p class="center">
    Vue nos permite añadir clases CSS de forma dinámica, bien usando una variable:
  </p>
  <pre><code>variable = (isActive) ? 'active' : ''</code></pre>
  <pre><code><div v-bind:class="variable"></div></code></pre>
  <p class="center">
    O de una más elegante
  </p>
  <pre><code><div :class="{'active': isActive, 'rojo': hasError, 'big': x == 1 && !hasError}"></div></code></pre>
  <p class="center">
    Podemos hacer lo mismo con <em>v-bind:style</em>
  </p>
</section>