<section>
  <h1>
    y mucho más
  </h1>

  <img class="plain" src="https://media.giphy.com/media/SuEFqeWxlLcvm/giphy.gif" width="400" />
</section>

<section>
  <p>
    Hay mucho más en el core de Vue que queda fuera de esta charla introductoria
  </p>
  <ul>
    <li>
      Transitions
    </li>
    <li>
      Mixins
    </li>
    <li>
      Custom directives
    </li>
    <li>
      Filters
    </li>
    <li>
      Render functions y JSX
    </li>
    <li>
      Soporte TypeScript
    </li>
    <li>
      Plugins
    </li>
  </ul>
</section>