<section>
  <h1>¿Qué es <img class="plain no-margin" src="lib/i/vue.png" alt="Vue" width="80" />?</h1>
  <img class="plain" src="https://media.giphy.com/media/eKDp7xvUdbCrC/giphy.gif" width="400"/>
</section>
<section>
  <ul>
    <li>Vue.js, pronunciado /vjuː/ como <em>view</em>, es "otro" framework <em>progresivo</em> usado para crear interfaces de usuario.</li>
    <li>Progresivo, por el hecho que podemos usar "piezas" e ir añadiendo las que vayamos necesitando. Hasta el routing es externo al core.</li>
    <li>Fue creado por <strong>Evan You</strong> ex-trabajador de Google, participó en AngularJS.</li>

  </ul>
</section>
<section>
  <ul>
    <li>Usa un modelo de componentes MVVM <em>Model-View-Viewmodel</em></li>
    <li>
      Es muy sencillo añadir Vue a cualquier projecto (incluso ya existente)
    </li>
  </ul>
</section>
<section>
  <h4>Ventajas</h4>
  <ul>
    <li>
      Es fácil de aprender
    </li>
    <li>
      Ligero y modular
    </li>
    <li>
      Sistema de componentes
    </li>
    <li>
      Emplea Virtual DOM
    </li>
    <li>
      El sistema de data binding
    </li>
  </ul>
</section>