<section>
  <h1>
    Quiero más!
  </h1>
  <h4>¿Donde encontrar más recursos?</h4>

  <img class="plain" src="https://media.giphy.com/media/iNPWlwq7iE9Xi/giphy.gif" />
</section>

<section>
  <ul>
    <li>Vue curated: <span class="md">Listado de los mejores paquetes para Vue <a href="https://curated.vuejs.org/">https://curated.vuejs.org/</a></span></li>
    <li>
      Vue awesome <span class="md">Un repo con todo tipo de enlaces: Recursos de aprendizaje, Sitios web, components, librerias, comunidades, conferencias, videos, podcasts,....</span>
      <a href="https://github.com/vuejs/awesome-vue">https://github.com/vuejs/awesome-vue</a>
    </li>
  </ul>
</section>

<section>
  <h4>
    Referentes en <em>Vue</em>
  </h4>

  <div class="person">
    <div class="name">
      <img class="face" src="https://pbs.twimg.com/profile_images/888432310504370176/mhoGA4uj_400x400.jpg">
      <strong>Evan You</strong>
    </div>

    <ul class="simple">
      <li>
        <a href="https://twitter.com/youyuxi?lang=es">
          <i class="fab fa-twitter"></i> youyuxi
        </a>
      </li>
      <li>
        <a href="https://github.com/yyx990803">
          <i class="fab fa-github"></i> https://github.com/yyx990803
        </a>
      </li>
      <li>
        <a href="https://github.com/yyx990803">
          <i class="fas fa-globe"></i> http://evanyou.me/
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <h4>
    Referentes en <em>Vue</em>
  </h4>

  <div class="person">
    <div class="name">
      <img class="face" src="https://pbs.twimg.com/profile_images/982796605425303552/phhp5grt_400x400.jpg">
      <strong>Sarah Drasner</strong>
    </div>

    <ul class="simple">
      <li>
        <a href="https://twitter.com/sarah_edo">
          <i class="fab fa-twitter"></i> sarah_edo
        </a>
      </li>
      <li>
        <a href="https://codepen.io/sdras/">
          <i class="fab fa-codepen"></i> https://codepen.io/sdras/
        </a>
      </li>

      <li>
        <a href="https://github.com/sdras">
          <i class="fab fa-github"></i> https://github.com/sdras
        </a>
      </li>
      <li>
        <a href="https://sarahdrasnerdesign.com/">
          <i class="fas fa-globe"></i> https://sarahdrasnerdesign.com/
        </a>
      </li>

      <li>
        <a href="https://page-transitions.com/">
          <i class="fas fa-heart"></i> https://page-transitions.com/
        </a>
      </li>
    </ul>
  </div>
</section>