<h5>
  Sergio Carracedo
</h5>

<p class="company center">
  Trabajo en <a href="https://opsou.com"><img class="plain" src="lib/i/opsou.png" alt="Opsou" width="150" />.com</a>
</p>

<img class="plain" src="lib/i/drupal.png" alt="Drupal" width="50" />
<img class="plain" src="lib/i/vue.png" alt="Vue" width="60" />
<img class="plain" src="lib/i/php.png" alt="PHP" width="50" />


<p class="center">
  <i class="fab fa-twitter"></i> sergiocarracedo
  <br />
  <i class="fab fa-github"></i> https://github.com/sergiocarracedo
</p>
