/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;
$white: #fff;
$mainColor: #fff;
$headingColor: #fff;


//#b2d676 #004262

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #b2d676;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$heading5Size: 0.8em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal section img.plain {
	background: rgba(255, 255, 255, 0.0);
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@include horizontal-gradient(#b2d676, #004262);
	height: 45px;
	z-index: 9;

	.face {
		transition: all .5s;
		position: absolute;
		left: 15px;
		top: 10px;
		img {
			transition: all .5s;
			border: 5px solid $mainColor;
			border-radius: 9999px;
			width: 60px;
		}
	}

	h1.presentation-title {
		margin: 0;
		text-align: center;
		color: $mainColor;
		font-family: $headingFont;
		font-weight: 300;
		line-height: 50px;
	}
}

.btn {
	@include horizontal-gradient(#b2d676, #004262);
	padding: 7px 30px !important;
	font-size: 60% !important;
	color: $white !important;
	display: inline-block;
	&:hover {
		@include horizontal-gradient(#004262, #004262);
	}
}

.example {
	* {
		font-size: 16px !important;
	}
	label {
		display: block;
	}
}

.reveal {
	font-size: 38px;

	h2,h3,h4,h5,h6 {
		text-transform: none;
		color: $linkColor;
	}

	ul {
		li {
			font-size: 0.85em;
			margin-bottom: 0.2em;
		}

		&.simple {
			list-style: none;
			padding-left: 0;
		}
	}

	pre {
		width: 100%;
	}


	p {
		text-align: left;
	}

	blockquote,
	span,
	p {
		&.center {
			text-align: center;
		}

		&.sm,
		&.small {
			font-size: 0.6em;
		}

		&.md {
			font-size: 0.8em;
		}
	}

	blockquote {
		margin-top: 45px;
		max-width: 70%;
		padding: 30px 50px;
		position: relative;
		.face {
			position: absolute;
			top: -35px;
			left: -35px;
			img {
				transition: all .5s;
				border: 5px solid $linkColor;
				border-radius: 9999px;
				width: 60px;
				margin: 0;
				display: inline-block;
			}
			span {
				position: absolute;
				line-height: 1.1em;
				display: block;
				left: 80px;
				top: 25px;
				text-align: left;
				width: auto;
				min-width: 200px;
				color: $linkColor;
			}
			font-size: 18px;
		}
	}


	.person {
		margin-bottom: 2em;
		.name {
			* {
				vertical-align: middle;
			}
			img.face {
				transition: all .5s;
				border: 5px solid $linkColor;
				border-radius: 9999px;
				width: 100px;
				margin: 0 auto 30px auto;
				display: inline-block;
			}
			strong {
				margin-top: -10px;
				line-height: 1em;
				display: inline-block;
			}
		}

	}



	.scroll {
		height: 80vh;
		overflow-y: auto;
		border: 2px solid $linkColor;

		img {
			max-width: 100%;
			max-height: 99999px;
			margin: 0;
		}
	}


	section.me {
		top: 220px !important;
		.company {
			vertical-align: baseline;
			img {
				display: inline;
				margin: 0;
				width: 120px;
				transform: translateY(7px);
			}
			a {
				color: $white;
				font-size: 0.3em;
			}
		}
	}
	.no-margin {
		margin: 0;
	}
}

.slide-me {
	.fixed-header {
		.face {
			left: 50%;
			margin-left: -100px;
			top: 80px;
			img {
				width: 200px;
			}
		}
	}
}